@model ShoppingCartVM

<!-- Checkout Start -->
<form method="post">


    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <div class="mb-4">
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Full Name</label>
                            <input asp-for="OrderHeader.Name" class="form-control" type="text" placeholder="John">
                            <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input asp-for="OrderHeader.Email" class="form-control" type="text" placeholder="example@email.com">
                            <span asp-validation-for="OrderHeader.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="OrderHeader.PhoneNumber">Mobile No</label>
                            <input asp-for="OrderHeader.PhoneNumber" class="form-control" type="text" placeholder="+123 456 789">
                            <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="OrderHeader.StreetAddress"></label>
                            <input asp-for="OrderHeader.StreetAddress" class="form-control" type="text" placeholder="123 Street">
                            <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <input asp-for="OrderHeader.Country" class="form-control" type="text" placeholder="Country" value="Swiss" disabled>
                            @* <span asp-validation-for="OrderHeader.Country" class="text-danger"></span> *@
                        </div>
                        <div class="col-md-6 form-group">
                            <label>City</label>
                            <input asp-for="OrderHeader.City" class="form-control" type="text" placeholder="New York">
                            <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input asp-for="OrderHeader.State" class="form-control" type="text" placeholder="New York">
                            <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="OrderHeader.PostalCode"></label>
                            <input asp-for="OrderHeader.PostalCode" class="form-control" type="text" placeholder="123">
                            <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <a asp-action="Index" class="btn btn-block btn-primary font-weight my-3 py-3">Back To Cart</a>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <p class="text-danger font-weight-medium">
                            Estimate Arrival Data:
                            @DateTime.Now.AddDays(0).ToShortDateString() - @DateTime.Now.AddDays(7).ToShortDateString()
                        </p>
                    </div>
                </div>
                <div class="collapse mb-4" id="shipping-address">
                    @* <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4> *@
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        @foreach (var details in Model.ShoppingCartList)
                        {
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div>
                                    <h6 class="mb-0">@details.Product.Name</h6>
                                    <p class="text-muted mb-0">CHF @details.TotalProductPrice</p>
                                </div>
                                <div>
                                    <h6 class="mb-0">Quantity</h6>
                                    <p class="text-muted mb-0 ml-4">@details.Count</p>
                                </div>
                            </div>
                            <hr class="mt-0">
                        }
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h6 class="font-weight-bold">MwSt.-Anteil</h6>
                            <h6 class="font-weight-bold">CHF @((Model.OrderHeader.OrderTotal * 0.08100).ToString("0.00"))</h6>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">CHF @Model.OrderHeader.OrderTotal</h5>
                        </div>
                    </div>
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paynow" value="paynow">
                                <label class="custom-control-label" for="paynow">Pay Now</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="directcheck" value="directcheck">
                                <label class="custom-control-label" for="directcheck">Direct Check</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- Checkout End -->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}